body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsla(247, 83%, 39%, 0.372);
}

#myH1{
    font-size : 4rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    color: hsl(0, 0%, 20%);
}
#container{
    display:flex;
    flex-direction: column;
    align-items: center;
    border:5px solid hsl(0, 0%, 70%);
    border-radius:  50px;
    background-color: rgba(240, 224, 0, 0.577);
}
 #display{
    font-size: 5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: hsl(0, 0%, 30%);
    margin-bottom:25px
 }
 #control button{
    font-size: 1.5 rem;
    font-weight: bold;
    padding: 10px 28px;
    margin:5px;
    min-width:125px;
    border: none;
    border-radius: 10px;
    color: white;
    transition:background-color 0.5s ease;
 }

 #startBtn{
    background-color: rgb(26, 49, 26);

 }
#startBtn:hover{
    background-color: rgb(143, 211, 143);
    cursor: pointer;
}
#stopBtn{
    background-color: rgb(102, 0, 0);
}
#stopBtn:hover{
    background-color: rgb(153, 0, 0);
    cursor: pointer;
}
#resetBtn{
    background-color: rgb(51, 51, 102);
}
#resetBtn:hover{
    background-color: rgb(102, 102, 153);
    cursor: pointer;
}